Digiphoto.Lumen.SelfService.SlideShow/Connected Services/SelfServiceReference/Digiphoto.Lumen.SelfService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Digiphoto.Lumen.SelfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Digiphoto.Lumen.SelfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RicercaFotoParam">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PaginazParam">
        <xs:sequence>
          <xs:element minOccurs="0" name="faseDelGiorno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="fotografoId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="giorno" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RicercaFotoParam" nillable="true" type="tns:RicercaFotoParam" />
  <xs:complexType name="PaginazParam">
    <xs:sequence>
      <xs:element minOccurs="0" name="skip" type="xs:int" />
      <xs:element minOccurs="0" name="take" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaginazParam" nillable="true" type="tns:PaginazParam" />
</xs:schema>