Digiphoto.Lumen.OnRide.UI/Connected Services/FingerServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="About">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AboutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AboutResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOrarioResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IdentificaOrAggiungi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="template" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IdentificaOrAggiungiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdentificaOrAggiungiResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Identifica">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="template" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IdentificaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdentificaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>