Digiphoto.Lumen.OnRide.UI/Connected Services/FingerServiceReference/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FingerprintServiceImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="myNetTcpEndPoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFingerprintService_About_InputMessage">
    <wsdl:part name="parameters" element="tns:About" />
  </wsdl:message>
  <wsdl:message name="IFingerprintService_About_OutputMessage">
    <wsdl:part name="parameters" element="tns:AboutResponse" />
  </wsdl:message>
  <wsdl:message name="IFingerprintService_GetOrario_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrario" />
  </wsdl:message>
  <wsdl:message name="IFingerprintService_GetOrario_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrarioResponse" />
  </wsdl:message>
  <wsdl:message name="IFingerprintService_IdentificaOrAggiungi_InputMessage">
    <wsdl:part name="parameters" element="tns:IdentificaOrAggiungi" />
  </wsdl:message>
  <wsdl:message name="IFingerprintService_IdentificaOrAggiungi_OutputMessage">
    <wsdl:part name="parameters" element="tns:IdentificaOrAggiungiResponse" />
  </wsdl:message>
  <wsdl:message name="IFingerprintService_Identifica_InputMessage">
    <wsdl:part name="parameters" element="tns:Identifica" />
  </wsdl:message>
  <wsdl:message name="IFingerprintService_Identifica_OutputMessage">
    <wsdl:part name="parameters" element="tns:IdentificaResponse" />
  </wsdl:message>
  <wsdl:portType name="IFingerprintService">
    <wsdl:operation name="About">
      <wsdl:input wsaw:Action="http://tempuri.org/IFingerprintService/About" message="tns:IFingerprintService_About_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFingerprintService/AboutResponse" message="tns:IFingerprintService_About_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrario">
      <wsdl:input wsaw:Action="http://tempuri.org/IFingerprintService/GetOrario" message="tns:IFingerprintService_GetOrario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFingerprintService/GetOrarioResponse" message="tns:IFingerprintService_GetOrario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IdentificaOrAggiungi">
      <wsdl:input wsaw:Action="http://tempuri.org/IFingerprintService/IdentificaOrAggiungi" message="tns:IFingerprintService_IdentificaOrAggiungi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFingerprintService/IdentificaOrAggiungiResponse" message="tns:IFingerprintService_IdentificaOrAggiungi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Identifica">
      <wsdl:input wsaw:Action="http://tempuri.org/IFingerprintService/Identifica" message="tns:IFingerprintService_Identifica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFingerprintService/IdentificaResponse" message="tns:IFingerprintService_Identifica_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="myNetTcpEndPoint" type="tns:IFingerprintService">
    <wsp:PolicyReference URI="#myNetTcpEndPoint_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="About">
      <soap12:operation soapAction="http://tempuri.org/IFingerprintService/About" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrario">
      <soap12:operation soapAction="http://tempuri.org/IFingerprintService/GetOrario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IdentificaOrAggiungi">
      <soap12:operation soapAction="http://tempuri.org/IFingerprintService/IdentificaOrAggiungi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Identifica">
      <soap12:operation soapAction="http://tempuri.org/IFingerprintService/Identifica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FingerprintServiceImpl">
    <wsdl:port name="myNetTcpEndPoint" binding="tns:myNetTcpEndPoint">
      <soap12:address location="net.tcp://server-lumen:8702/Digiphoto.Lumen.Services.Fingerprint/FingerprintService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://server-lumen:8702/Digiphoto.Lumen.Services.Fingerprint/FingerprintService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>