Digiphoto.Lumen.SelfService.MobileUI/Service References/SelfServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SelfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="myNetTcpEndPoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Digiphoto.Lumen.SelfService.Carrelli" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISelfService_getListaCarrelli_InputMessage">
    <wsdl:part name="parameters" element="tns:getListaCarrelli" />
  </wsdl:message>
  <wsdl:message name="ISelfService_getListaCarrelli_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListaCarrelliResponse" />
  </wsdl:message>
  <wsdl:message name="ISelfService_getListaFotografie_InputMessage">
    <wsdl:part name="parameters" element="tns:getListaFotografie" />
  </wsdl:message>
  <wsdl:message name="ISelfService_getListaFotografie_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListaFotografieResponse" />
  </wsdl:message>
  <wsdl:message name="ISelfService_getImage_InputMessage">
    <wsdl:part name="parameters" element="tns:getImage" />
  </wsdl:message>
  <wsdl:message name="ISelfService_getImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:getImageResponse" />
  </wsdl:message>
  <wsdl:message name="ISelfService_getImageProvino_InputMessage">
    <wsdl:part name="parameters" element="tns:getImageProvino" />
  </wsdl:message>
  <wsdl:message name="ISelfService_getImageProvino_OutputMessage">
    <wsdl:part name="parameters" element="tns:getImageProvinoResponse" />
  </wsdl:message>
  <wsdl:message name="ISelfService_getImageLogo_InputMessage">
    <wsdl:part name="parameters" element="tns:getImageLogo" />
  </wsdl:message>
  <wsdl:message name="ISelfService_getImageLogo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getImageLogoResponse" />
  </wsdl:message>
  <wsdl:message name="ISelfService_setMiPiace_InputMessage">
    <wsdl:part name="parameters" element="tns:setMiPiace" />
  </wsdl:message>
  <wsdl:message name="ISelfService_setMiPiace_OutputMessage">
    <wsdl:part name="parameters" element="tns:setMiPiaceResponse" />
  </wsdl:message>
  <wsdl:portType name="ISelfService">
    <wsdl:operation name="getListaCarrelli">
      <wsdl:input wsaw:Action="http://tempuri.org/ISelfService/getListaCarrelli" message="tns:ISelfService_getListaCarrelli_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISelfService/getListaCarrelliResponse" message="tns:ISelfService_getListaCarrelli_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getListaFotografie">
      <wsdl:input wsaw:Action="http://tempuri.org/ISelfService/getListaFotografie" message="tns:ISelfService_getListaFotografie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISelfService/getListaFotografieResponse" message="tns:ISelfService_getListaFotografie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getImage">
      <wsdl:input wsaw:Action="http://tempuri.org/ISelfService/getImage" message="tns:ISelfService_getImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISelfService/getImageResponse" message="tns:ISelfService_getImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getImageProvino">
      <wsdl:input wsaw:Action="http://tempuri.org/ISelfService/getImageProvino" message="tns:ISelfService_getImageProvino_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISelfService/getImageProvinoResponse" message="tns:ISelfService_getImageProvino_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getImageLogo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISelfService/getImageLogo" message="tns:ISelfService_getImageLogo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISelfService/getImageLogoResponse" message="tns:ISelfService_getImageLogo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setMiPiace">
      <wsdl:input wsaw:Action="http://tempuri.org/ISelfService/setMiPiace" message="tns:ISelfService_setMiPiace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISelfService/setMiPiaceResponse" message="tns:ISelfService_setMiPiace_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="myNetTcpEndPoint" type="tns:ISelfService">
    <wsp:PolicyReference URI="#myNetTcpEndPoint_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="getListaCarrelli">
      <soap12:operation soapAction="http://tempuri.org/ISelfService/getListaCarrelli" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListaFotografie">
      <soap12:operation soapAction="http://tempuri.org/ISelfService/getListaFotografie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getImage">
      <soap12:operation soapAction="http://tempuri.org/ISelfService/getImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getImageProvino">
      <soap12:operation soapAction="http://tempuri.org/ISelfService/getImageProvino" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getImageLogo">
      <soap12:operation soapAction="http://tempuri.org/ISelfService/getImageLogo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setMiPiace">
      <soap12:operation soapAction="http://tempuri.org/ISelfService/setMiPiace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SelfService">
    <wsdl:port name="myNetTcpEndPoint" binding="tns:myNetTcpEndPoint">
      <soap12:address location="net.tcp://localhost:8523/Digiphoto.Lumen.SelfService/SelfService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8523/Digiphoto.Lumen.SelfService/SelfService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>